*{ 
font-family: 'Open Sans',Arial,sans-serif;
padding:0px; margin:0px;
}
.clear{
	clear:both;
}
#header #logo{
	height:550px;
	display:block;
	background-image:url(../img/header.png);
    background-repeat:no-repeat;
    background-position:center;
}
#header{
	background:#fff;
	background: -webkit-linear-gradient(top,#B4E2DF 0,#fff 100%);
	background: -moz-linear-gradient(top,#B4E2DF 0,#fff 100%);
	background: -o-linear-gradient(top,#B4E2DF 0,#fff 100%);
	background: linear-gradient(to bottom,#B4E2DF 0,#fff 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B4E2DF,endColorstr=#fff,GradientType=0);
	height:550px;
	display:block;
	padding:20px;
}
#header-left{
	float:left;
	}
#header-right{
	float:right;
	}
#menu{
	padding:0px 2%;
	text-align: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset,0px -1px 1px rgba(0, 0, 0, 0.2) inset, 0px 5px 5px rgba(0, 0, 0, 0.4);
	background:#6897E2;
	background: -webkit-linear-gradient(top,#6897E2 0,#8D68E2 100%);
	background: -moz-linear-gradient(top,#6897E2 0,#8D68E2 100%);
	background: -o-linear-gradient(top,#6897E2 0,#8D68E2 100%);
	background: linear-gradient(to bottom,#6897E2 0,#8D68E2 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6897E2,endColorstr=#8D68E2,GradientType=0);
}
#menu #mainmenu{
}
#menu #mainmenu li{
	float:left;
	list-style:none;
}
#menu #mainmenu li a{
	color:#F5F7FF;
    text-shadow: -1px -1px 1px #7858C0;
	text-decoration:none;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2) inset,0px 0px 10px rgba(255, 255, 255, 0.3);
    display:block;
	padding:10px 20px;
}

#menu #mainmenu li a:hover{
	color:#F5F7FF;
    box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.5) inset;
    text-shadow: 1px 0px 10px rgba(255, 255, 255, 0.3);
}